*, *::before, *::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0 1rem;
  background-color: #fafbff;
}

.app {
  min-height: 100vh;
  position: relative;
}

.navbar {
  display: flex;
  justify-content: center;
}

select {
  height: 38px;
  background-color: #e9ecef;
  border-color: #ced4da;
  color: #495057;
}

.itemSeachBar{
  button {
    z-index: 1;
  }
}

.listItem {
  display: flex;
  flex-direction: row;
  background-color: white;
  h3 {
    font-size: 1rem;
  }
  margin-bottom: 0.6rem;
  border-radius: 5px;
  outline-offset: -1px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1),
  0 -4px 6px rgba(0, 0, 0, 0.1); 
  // max-height: 122px;
  overflow: hidden;
  cursor: pointer;
  &:hover {
    background-color: #ced4da
  }
}
.listItemPicture {
  min-width: 85px;
  width: 85px;
  height: 100%;
  // border-top-left-radius: 5px;
  // border-bottom-left-radius: 5px;
  overflow: hidden;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    
  }
}
.listItemDetails {
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  h3 {
    margin: 0;
    font-weight: bold;
  }
  p {
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    font-size: 0.8em;
  }
}

.listItemDetailsDate {
  color: #495057;
  font-size: 0.9em;
  margin-bottom: 0.5em;
}

.buttonArea {
  padding-bottom: 4rem;
}

.selectedItemArea {
  position: fixed;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  // height: 80vh;
  z-index: 10;
}

.selectedItem {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  img {
    width: 50%;
    max-width: 365px;
    border-bottom-right-radius: 7.5px;
  }
  border-radius: 7.5px;
  background-color: limegreen;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1),
              0 -4px 6px rgba(0, 0, 0, 0.1);
              // 0 30px 100px white,
              // 0 100px 175px 75px rgba(129, 129, 129, 0.75);
              // 0 -100px 175px 75px white,
              // 0 100px 175px 75px white;
              // 0 90px 100px white,
              // 0 120px 100px white,
              // 0 150px 100px white;
  background-color: white;
}

.sideDetails {
  font-size: 0.9em;
  margin: 3em 0.5em 0.5em 0.5em;
  span {
    font-weight: bold;
  }
  list-style: none;
}

.underDetails {
  padding: 1em;
  h2 {
    font-weight: bold;
  }
}

.closeButton {
  position: absolute;
  top: 0%;
  right: 0%;
  button {
    display: flex;
    padding: 0.2em;
    font-size: 3em;
    border: none;
    background-color: inherit;
    transition: 0.25s ease-in-out;
    &:hover {
      color: #525252
    }
  }
  transition: 0.25s ease-in-out;
  &:hover{
    -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  }
}

.prevButton {
  margin-right: 1rem;
}

footer {
  position: absolute;
  bottom: 0;
}

@media (min-width: 769px) {
  .selectedItemArea {
    transform: none;
    top: 9rem;
  }
  .selectedItem {
    width: 50%;
  }
  select {
    width: 10rem;
  }
  .input-group-append {
    button {
      width: 8rem;
    }
  }
}